name: Swift Format

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  swift-format:
    name: Swift Format Check
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode 16.0
        run: sudo xcode-select -s /Applications/Xcode_16.0.app
      - name: Install swift-format
        run: |
          brew install swift-format
      - name: Run swift-format
        run: |
          swift-format lint --recursive Sources Tests
